<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <title>Ingresar</title>
</head>

<body>
  <div class="container-fluid">
    <form class="row g-3 mx-auto col-10 col-md-8 col-lg-6" method="post" action="/ingresar">
      <h3 class="pt-3">Ingresar</h3>
      <div class="col-12">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" name="inputEmail" id="inputEmail">
      </div>
      <div class="col-12">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="inputPassword" id="inputPassword">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
    </form>
  </div>
</body>

</html>